.body{
	background-color: black;
}
.modal-dialog {
	width: 700px;
}

.blBackground{
	background-color: #E3CEF6;
	-moz-border-radius: 15px;
	border-radius: 15px;
	opacity: .1;
}

.blBackground:hover{
	opacity: 0.1;
}

.blHeader{
	text-align:center;
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 30px;
}

.feedHeader{
	text-align:center;
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 50px;
}

.blDesc{
	text-align:center;
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 20px;
	height: 50px;
}

.blNumEvents{
	text-align: center;
	color: black;
	font-size: 15px;
	font-style: bold;
}

.pageHeader {
	text-align:center;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
}

body {
	background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}

.overlay { 
  color:#380B61;
  position:absolute;
  z-index:120;
  top:40%;
  left:0;
  width:100%;
  text-align:center;
  font-size: 100px;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}
.circular {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.feedContent{
	font-family: 'Lato', sans-serif;
	color: black;
	font-size: 20px;
}

.blCheck {
  transform:scale(5, 5);
}

.blButton {
	background-color: #E3CEF6;
	-moz-border-radius: 15px;
	border-radius: 15px;
	opacity: .7;
	width: 300px;
	height: 300px;
}

.paddedDiv{
	padding-top: 35px;  
	padding-left: 50px;
	padding-right: 10px  
    padding-bottom: 10px;  
}
.createdBy{
	color: #380B61;
}

.myBucketLists{
	color: #380B61;
	font-weight: bold;
	padding-top: 35px;  
	padding-left: 50px;
	padding-right: 10px  
    padding-bottom: 10px; 
}

.updateBtn{
	background-color: #380B61;
	-moz-border-radius: 15px;
	border-radius: 15px;
	opacity: .7;
	width: 150px;
	height: 50px;
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 30px;
}

.captions {
font-size: 20px;
}

.wellBkg{
	padding-top: 100px;
	height: 500px;
	background: url('../img/carousel/lake.jpg') ;
	color: white;
	font-size: 20px;
}